body {
  margin: 0;
  padding: 0;
  background-color: #1C1C1C;
}

a {
  text-decoration: none;
}

#main {
  display: flex;
  justify-content: space-between;

  width: 70%;
  padding: 10px;
  margin: 50px auto;
}